{% extends 'DandWwebsite/header.html' %}
{% load static %}
{% block header%}
<section class="first bradcam_area" style="background-image:url({% static 'images/services.jpg' %}); height: 50vh;">
    {% include 'DandWwebsite/navbarheader.html' %}
    <div class="container h-75">
        <div class="row h-100 d-flex align-items-center justify-content-center">
            <h1 class="banner-text">About Us</h1>
        </div>
    </div>
</section>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-9 col-12 mx-auto">
            <div class="about_us">
                <h3 class="text-center">Our Story</h3>
                {{data.about_us | safe}}
            </div>
        </div>
    </div>
</div>
<div class="vision_mission">
    <div id="container">
        <div class="row">
            <div class="col-md-4 col-12 d-flex justify-content-center">
                <div class="vision">
                    <h3>Vision</h3>
                    {{data.vision | safe}}
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi iste autem vel? Asperiores ipsam nam dolorem exercitationem illo. Quas, incidunt.</p> -->
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="svg-vector">
                    <img src="{% static 'images/vision_mission.png' %}" alt="" class="">
                </div>
            </div>
            <div class="col-md-4 col-12 d-flex justify-content-center">
                <div class="mission">
                    <h3>Mission</h3>
                    {{data.mission | safe}}
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi iste autem vel? Asperiores ipsam nam dolorem exercitationem illo. Quas, incidunt.</p> -->
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'DandWwebsite/team.html' %}
{% include 'DandWwebsite/anyInfoCall.html' %}
{% include 'DandWwebsite/footer.html' %}
{% endblock header%}
