{% extends 'DandWwebsite/header.html' %}
{% load static %}
{% block header%}
<section class="first bradcam_area" style="background-image:url({% static 'images/abtus.jpg' %}); height: 50vh;">
    
    {% include 'DandWwebsite/navbarheader.html' %}
    <div class="container h-75">
        <div class="row h-100 d-flex align-items-center justify-content-center">
            <h1 class="banner-text">Blogs</h1>
        </div>
    </div>
</section>

<div class="case_study_area case_page">
    <div class="container">
        <div class="row">
                <div class="col-xl-12">
                    <div class="portfolio-menu text-center">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".healthcare">Healthcare</button>
                        <button data-filter=".defence">Defence</button>
                        <button data-filter=".shipping">Shipping</button>
                        <button data-filter=".education">Education</button>
                        <button data-filter=".chatbot">Chatbot</button>
                    </div>
                </div>
            </div>
        <div class="row grid">
            {% for case in all_case %}
                <div class="col-xl-4 grid-item {{case.category}}">
                    <div class="single_case">
                        <div class="case_thumb">
                            {% if case.image %}
                                <img src="{{ case.image.url }}" alt="">
                            {% else %}
                                <img src="" alt="">
                            {% endif %}
                        </div>
                        <div class="case_heading">
                            <span>{{case.title}}</span>
                            <h3><a href="{% url 'single_case_study' case.id %}">{{case.subtitle}}</a></h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>
</div>
{% include 'DandWwebsite/footer.html' %}
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

<script>
    var $grid = $(".grid").isotope({
  itemSelector: ".grid-item",
  percentPosition: true,
  masonry: {
    // use outer width of grid-sizer for columnWidth
    columnWidth: 1,
  },
});

// filter items on button click
$(".portfolio-menu").on("click", "button", function () {
  var filterValue = $(this).attr("data-filter");
  $grid.isotope({ filter: filterValue });
});

//for menu active class
$(".portfolio-menu button").on("click", function (event) {
  $(this).siblings(".active").removeClass("active");
  $(this).addClass("active");
  event.preventDefault();
});
</script>
{% endblock header%}
