{% load static %}
<div class="Information_area overlay" style="background-image: url({% static 'images/info_banner.png' %});">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-8">
                <div class="info_text text-center">
                    <h3 class="font-weight-bold">For Any Information Call Us</h3>
                    <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    <a class="btn btn-primary" href="#">{{data.number_1}}</a>
                </div>
            </div>
        </div>
    </div>
</div>