{% extends 'DandWwebsite/header.html' %}
{% load static %}
{% block header%}
<section class="first bradcam_area" style="background-image:url({% static 'images/services.jpg' %}); height: 50vh;">
    {% include 'DandWwebsite/navbarheader.html' %}
    <div class="container h-75">
        <div class="row h-100 d-flex align-items-center justify-content-center">
            <h1 class="banner-text">{{single_case.title}}</h1>
        </div>
    </div>
</section>
<div class="container mt-5">
    <h2 class="text-center">{{single_case.subtitle}}</h2>
    <div class="row mt-5">
        <div class="col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'images/casestudy.jpg' %}" alt="" class="media-image">
        </div>
        <div class="col-6">
            <h3 class="text-center">Some heading</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel autem excepturi quod dignissimos ab odit assumenda, doloremque exercitationem vitae iure, tempore aliquam ad, magni deleniti? Magni atque, eaque impedit distinctio expedita architecto dolorum quis dolores dolore tempora totam sunt qui, incidunt alias nihil voluptatem eligendi voluptates! Officiis expedita fugiat sapiente, et consequatur tenetur magnam necessitatibus repudiandae recusandae nulla quas modi voluptatum deserunt aliquid sed veniam corporis blanditiis quaerat, ipsa dignissimos odio praesentium ducimus. Optio quos totam error tenetur assumenda architecto eaque repellendus provident nesciunt illum iure accusantium unde itaque ullam sed, similique exercitationem minima libero modi explicabo, voluptatibus reiciendis. Architecto?</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <h3 class="text-center">Some heading</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel autem excepturi quod dignissimos ab odit assumenda, doloremque exercitationem vitae iure, tempore aliquam ad, magni deleniti? Magni atque, eaque impedit distinctio expedita architecto dolorum quis dolores dolore tempora totam sunt qui, incidunt alias nihil voluptatem eligendi voluptates! Officiis expedita fugiat sapiente, et consequatur tenetur magnam necessitatibus repudiandae recusandae nulla quas modi voluptatum deserunt aliquid sed veniam corporis blanditiis quaerat, ipsa dignissimos odio praesentium ducimus. Optio quos totam error tenetur assumenda architecto eaque repellendus provident nesciunt illum iure accusantium unde itaque ullam sed, similique exercitationem minima libero modi explicabo, voluptatibus reiciendis. Architecto?</p>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'images/casestudy.jpg' %}" alt="" class="media-image">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'images/casestudy.jpg' %}" alt="" class="media-image">
        </div>
        <div class="col-6">
            <h3 class="text-center">Some heading</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel autem excepturi quod dignissimos ab odit assumenda, doloremque exercitationem vitae iure, tempore aliquam ad, magni deleniti? Magni atque, eaque impedit distinctio expedita architecto dolorum quis dolores dolore tempora totam sunt qui, incidunt alias nihil voluptatem eligendi voluptates! Officiis expedita fugiat sapiente, et consequatur tenetur magnam necessitatibus repudiandae recusandae nulla quas modi voluptatum deserunt aliquid sed veniam corporis blanditiis quaerat, ipsa dignissimos odio praesentium ducimus. Optio quos totam error tenetur assumenda architecto eaque repellendus provident nesciunt illum iure accusantium unde itaque ullam sed, similique exercitationem minima libero modi explicabo, voluptatibus reiciendis. Architecto?</p>
        </div>
    </div>
    <div class="row">
        <h3>Conclusion</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quaerat aliquam amet optio sint recusandae iusto reprehenderit accusantium ducimus excepturi voluptate temporibus ipsa, necessitatibus eum a ex facilis laborum porro ullam? Sunt molestias reiciendis vel eius, adipisci, corporis dolor veniam reprehenderit accusantium obcaecati ducimus nemo eveniet laboriosam maxime quam qui!</p>
    </div>
</div>
{% include 'DandWwebsite/footer.html' %}
{% endblock header%}