{% extends 'DandWwebsite/header.html' %}
{% load static %}
{% block header%}
<section class="first bradcam_area" style="background-image:url({% static 'images/services.jpg' %}); height: 50vh;">
    {% include 'DandWwebsite/navbarheader.html' %}
    <div class="container h-75">
        <div class="row h-100 d-flex align-items-center justify-content-center">
            <h1 class="banner-text">{{single_case.title}}</h1>
        </div>
    </div>
</section>
<div class="case_details_area mt-4">
    <div class="container">
        <div class="border_bottom">
                <div class="row ">
                        <div class="col-xl-12">
                            <div class="details_title">
                                <span>{{single_case.title}}</span>
                                <h3>{{single_case.subtitle}}</h3>
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="details_main_wrap">
                                {{single_case.description | safe}}
                                <div class="single_details">
                                    <span>Analysis</span>
                                    {{single_case.analysis | safe}}
                                </div>
                                <div class="single_details">
                                    <span>Recommendation</span>
                                    {{single_case.recommend | safe}}
                                </div>
                                <div class="single_details">
                                    <span>Where there are pros there are cons</span>
                                    {{single_case.pros_cons | safe}}
                                </div>
                                <div class="single_details">
                                    <span>Conclusion</span>
                                    {{single_case.conclusion | safe}}
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
{% include 'DandWwebsite/footer.html' %}
{% endblock header%}