{% load static %}

{% block footer %}
<footer class="footer border-top" id="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title ">
                            About Daten & Wissen
                        </h3>
                        <!-- <div class="footer_logo text-center">
                            <a href="#">
                                <img src="{% static 'images/only_logo.png' %}" alt="">
                            </a>
                        </div> -->
                        <p class="newsletter_text">Daten & Wissen is the fastest-growing company with a team of experts in Artifical Intelligence. We provide agile and smart AI solutions to initiate your business transformation journey.</p>                
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="{{data.linkdein_link}}">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{data.twitter_link}}">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Quick Links
                        </h3>
                        <ul class="list-group">
                            <li class=""><a href="{% url 'about_us' %}" class="text-decoration-none">About Us</a></li>
                            <li class=""><a href="{% url 'home' %}#expertise" class="text-decoration-none">Expertise</a></li>
                            <li class=""><a href="{% url 'about_us' %}#team" class="text-decoration-none">Out Team</a></li>
                            <li class=""><a href="{% url 'Case' %}" class="text-decoration-none">Blog</a></li>
                        </ul>
                        
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="footer_widget">
                        <h3 class="footer_title text-center">
                            Location
                        </h3>
                        <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15062.005424100029!2d72.8559047!3d19.3040391!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe8c72892ebe09e19!2sDaten%20%26%20Wissen!5e0!3m2!1sen!2sin!4v1606485144345!5m2!1sen!2sin"
                        width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is developed <i class="" aria-hidden="true"></i> by <a>Jeel Patel & Yash Patwa</a>
</p>
</div>
</div>
</div>
    </div>
</footer>

<!-- aos script -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<!-- aos script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>
{% endblock footer %}