{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Font awesome cdn -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Font awesome cdn -->
    <!-- swiper js -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- end swiper js -->
    <!-- aos style -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- aos style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <div class="header-area ">
        <div class="header-top_area d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-md-5 d-flex align-items-center">
                        <div class="header_left">
                            <p>Welcome to D&W Tech Consulting Service</p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-md-7">
                        <div class="header_right d-flex">
                            <div class="social_media_links d-flex align-items-center">
                                <a href="#" class="mail_number_a"> 
                                    <i class="fa fa-envelope mail_number"></i>
                                    {{data.email_id}}
                                </a>
                                <a href="#" class="mail_number_a"> 
                                    <i class="fa fa-phone mail_number"></i> 
                                    {{data.number_1}}
                                </a>
                                <a href="{{data.linkdein_link}}" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="{{data.twitter_link}}">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% block header %}

{% endblock header %}
<script>
    $(document).ready(function() {

        $('[data-toggle="affix"]').each(function() {
            var ele = $(this),
            wrapper = $('<div></div>');
            overAllWidth = $(document).width()
            if (overAllWidth <= 590){
                // Check overall width so to set the navbar by default visible or not
                ele.addClass("affix border-bottom text-center");
            }
            ele.before(wrapper);
            var previousScroll = 0;
            $(window).on('scroll resize', function() {
                currentWidth = $(document).width()
                console.log(currentWidth)
                var currentScroll = $(this).scrollTop();
                // console.log(currentScroll)
                var height = ele.outerHeight(),
                top = wrapper.offset().top;
                // console.log(top)
                if (currentWidth <= 590){
                    ele.addClass("affix border-bottom text-center");

                    if (currentScroll > 0 && currentScroll < $(document).height() - $(window).height()) {

                        if (currentScroll > previousScroll) {         
                            ele.removeClass("affix border-bottom");
                        } else {
                                ele.addClass("affix border-bottom");
                            // wrapper.height('auto');
                        }
                        previousScroll = currentScroll;
                    }

                } else {
                    ele.removeClass("affix border-bottom");
                    if (currentScroll > 0 && currentScroll < $(document).height() - $(window).height()) {

                        if (currentScroll > previousScroll) {         
                            ele.removeClass("affix border-bottom");
                        } else {
                            if (currentScroll <= top + 200){
                                ele.removeClass("affix border-bottom");
                            }
                            else{
                                ele.addClass("affix border-bottom");
                            }
                            // wrapper.height('auto');
                        }
                        previousScroll = currentScroll;
                    }
                }
            });
        });
    
    });
</script>
  