{% load static %}
<div class="container-fluid py-4">
    <!-- <h3 class="mx-auto d-flex justify-content-center">Industries We Serve</h3> -->
    <p data-aos="zoom-in" class="text-center mt-3 heading_text"><span>Industries</span> We Serve</p>
    <div class="row d-flex justify-content-center" data-aos="zoom-in" data-aos-duration="1000">
        <div class="col-lg-2">
            <div class="col-lg-12 d-flex flex-row justify-content-center align-items-center">
                <div class="flip-card mb-3 card border-0 flip-card-2" style="width: 18rem">
                    <div class="flip-card-inner">
                        <div class="flip-card-front h-100">
                            <div class="card-body h-100 d-flex align-items-center justify-content-center">
                                <div class="d-flex flex-column justify-content-center">
                                    <img src="{% static 'images/textile.png' %}" alt="" style="height: 40px; width: 60px;" class="mx-auto">
                                    <h4 class="card-title mb-2 mt-3 font-weight-bold">Textile</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="card-body">
                                <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptatem repellat natus.</p>
                                <a class="btn btn-primary go_somewhere mb-4">More Info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 d-flex flex-row justify-content-center align-items-center">
                <div class="flip-card mb-3 card border-0 flip-card-2" style="width: 18rem">
                    <div class="flip-card-inner">
                        <div class="flip-card-front h-100">
                            <div class="card-body h-100 d-flex align-items-center justify-content-center">
                                <div class="d-flex flex-column justify-content-center">
                                    <img src="{% static 'images/manufacturing.png' %}" alt="" style="height: 40px; width: 60px;" class="mx-auto">
                                    <h4 class="card-title mb-2 mt-3 font-weight-bold">Manufacturing</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="card-body">
                                <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptatem repellat natus.</p>
                                <a class="btn btn-primary go_somewhere ">Go Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 d-flex flex-row justify-content-center ">
            <div class="flip-card mb-4 card border-0 flip-card-1" style="width: 18rem">
                <div class="flip-card-inner">
                    <div class="flip-card-front h-100">
                        <div class="card-body h-100 d-flex align-items-center justify-content-center">
                            <div class="d-flex flex-column justify-content-center">
                                <img src="{% static 'images/fragrance.png' %}" alt="" style="height: 60px; width: 60px;" class="mx-auto">
                                <h4 class="card-title mb-2 mt-3 font-weight-bold">Fragrance</h4>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="card-body">
                            <h5 class="card-title text-dark">Fragrance</h5>
                            <hr>
                            <p class="card-text text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aliquid mollitia dicta voluptatem repellat natus.
                            <hr>
                            </p>
                            <a class="btn btn-primary go_somewhere ">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="col-lg-12 d-flex flex-row justify-content-center align-items-center">
                <div class="flip-card mb-3 card border-0 flip-card-2" style="width: 18rem">
                    <div class="flip-card-inner">
                        <div class="flip-card-front h-100">
                            <div class="card-body h-100 d-flex align-items-center justify-content-center">
                                <div class="d-flex flex-column justify-content-center">
                                    <img src="{% static 'images/education.png' %}" alt="" style="height: 60px; width: 60px;" class="mx-auto">
                                    <h4 class="card-title mb-2 mt-3 font-weight-bold">Education</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="card-body">
                                <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptatem repellat natus.</p>
                                <a class="btn btn-primary go_somewhere ">Go Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 d-flex flex-row justify-content-center align-items-center">
                <div class="flip-card mb-3 card border-0 flip-card-2" style="width: 18rem">
                    <div class="flip-card-inner">
                        <div class="flip-card-front h-100">
                            <div class="card-body h-100 d-flex align-items-center justify-content-center">
                                <div class="d-flex flex-column justify-content-center">
                                    <img src="{% static 'images/sport.png' %}" alt="" style="height: 60px; width: 60px;" class="mx-auto">
                                    <h4 class="card-title mb-2 mt-3 font-weight-bold">Sports</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="card-body">
                                <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptatem repellat natus.</p>
                                <a class="btn btn-primary go_somewhere ">Go Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 d-flex flex-row justify-content-center ">
            <div class="flip-card mb-4 card border-0 flip-card-1" style="width: 18rem">
                <div class="flip-card-inner">
                    <div class="flip-card-front h-100">
                        <div class="card-body h-100 d-flex align-items-center justify-content-center">
                            <div class="d-flex flex-column justify-content-center">
                                <img src="{% static 'images/realEstate.png' %}" alt="" style="height: 60px; width: 60px;" class="mx-auto">
                                <h4 class="card-title mb-2 mt-3 font-weight-bold">Real Estate</h4>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="card-body">
                            <h5 class="card-title text-dark">Real Estate</h5>
                            <hr>
                            <p class="card-text text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aliquid mollitia dicta voluptatem repellat natus.
                            <hr>
                            </p>
                            <a class="btn btn-primary go_somewhere ">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="col-lg-12 d-flex flex-row justify-content-center align-items-center">
                <div class="flip-card mb-3 card border-0 flip-card-2" style="width: 18rem">
                    <div class="flip-card-inner">
                        <div class="flip-card-front h-100">
                            <div class="card-body h-100 d-flex align-items-center justify-content-center">
                                <div class="d-flex flex-column justify-content-center">
                                    <img src="{% static 'images/banking.png' %}" alt="" style="height: 40px; width: 60px;" class="mx-auto">
                                    <h4 class="card-title mb-2 mt-3 font-weight-bold">Banking</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="card-body">
                                <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptatem repellat natus.</p>
                                <a class="btn btn-primary go_somewhere ">Go Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 d-flex flex-row justify-content-center align-items-center">
                <div class="flip-card mb-3 card border-0 flip-card-2" style="width: 18rem">
                    <div class="flip-card-inner">
                        <div class="flip-card-front h-100">
                            <div class="card-body h-100 d-flex align-items-center justify-content-center">
                                <div class="d-flex flex-column justify-content-center">
                                    <img src="{% static 'images/media.png' %}" alt="" style="height: 40px; width: 60px;" class="mx-auto">
                                    <h4 class="card-title mb-2 mt-3 font-weight-bold">Media</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="card-body">
                                <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptatem repellat natus.</p>
                                <a class="btn btn-primary go_somewhere ">Go Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="container_industry">
    <div class="box">
        <h2 class="name">Product Name</h2>
        <a href="#" class="buy">Buy Now</a>
        <div class="circle"></div>
        <img src="{% static 'images/nike_shoe.png'%}" class="product" alt="">
    </div>
</div>
<div class="container_textile">
    <div class="box2 shadow">
        <h2 class="name">Textile</h2>
        <a href="#" class="buy">Know More</a>
        <img src="{% static 'images/textile_cloth.png'%}" class="cloth" alt="">
        <img src="{% static 'images/textile_button.png'%}" class="button_1" alt="">
        <img src="{% static 'images/textile_button.png'%}" class="button_2" alt="">
    </div>
</div>

<script src="{% static 'js/vanilla-tilt.min.js' %}"></script>
<script>
    VanillaTilt.init(document.querySelector(".box"), {
		max: 25,
        speed: 100,
        gyroscope: true,
        easing: "cubic-bezier(.03,.98,.52,.99)"
	});
</script>
<script>
    VanillaTilt.init(document.querySelector(".box2"), {
		max: 20,
        speed: 50,
        gyroscope: true,
        easing: "cubic-bezier(.03,.98,.52,.99)"
	});
</script>
<script>
    $('.flip-card').hover(function () {
        $(this).closest('.flip-card').toggleClass('hover');
        $(this).css('transform, rotateY(180deg)');
    });
</script>