{% extends 'DandWwebsite/header.html' %}
{% load static %}

{% block header %}
<section class="first bradcam_area" style="background-image:url({% static 'images/tempimage.jpg' %}); height: 100vh;">
    {% include 'DandWwebsite/navbarheader.html' %}
    <div class="container mt-5 h-100">
        <div class="row justify-content-end h-100 align-items-center">
            <div class="col-6 justify-content-end h-50 align-items-center">
                <div class="swiper-container text-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide-background" data-aos="zoom-in" data-aos-delay="1000" data-aos-offset="300" data-aos-easing="ease-in-sine">
                            <div class="tagline">
                                <p class="tag_problem">Thousands of hand written content ?</p>
                                <p class="tag_solution">Machine can convert that !</p>
                            </div>
                        </div>
                        <div class="swiper-slide slide-background" data-aos-delay="1000" data-aos-offset="300" data-aos-easing="ease-in-sine">
                            <div class="tagline">
                                <p class="tag_problem">Need to analyse your competitor ?</p>
                                <p class="tag_solution">Machine can do that !</p>
                            </div>
                        </div>
                        <div class="swiper-slide slide-background">
                            <div class="tagline">
                                <p class="tag_problem">Many customer wants to love conversation with your company ?</p>
                                <p class="tag_solution">machine can do that on behalf of you !</p>
                            </div>
                        </div>
                        <div class="swiper-slide slide-background">
                            <div class="tagline">
                                <p class="tag_problem">Out of Stock, hearing many time</p >
                                <p class="tag_solution">Machine will never let that happen !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
var swiper = new Swiper('.text-swiper', {
    slidesPerView: 1,
    keyboard: {
        enabled: true,
    },
    loop: true,
    autoplay: {
        delay: 2500,
        disableOnInteraction: false,
    },
});
</script>
{% include 'DandWwebsite/our_expertise.html' %}
{% include 'DandWwebsite/industry_serve.html' %}
{% include 'DandWwebsite/anyInfoCall.html' %}
{% include 'DandWwebsite/footer.html' %}
{% endblock header %}
