{% load static %}
<nav class="navbar navbar-expand-sm navbar-light" data-toggle="affix">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/only_logo.png' %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            ☰
        </button>
        <div class="collapse navbar-collapse" id="collapsingNavbar">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-light mx-2" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-light mx-2" href="{% url 'about_us' %}">About Us</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-light mx-2" href="{% url 'home' %}#expertise">Expertise</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-light mx-2" href="{% url 'about_us' %}#team">Our Team</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-light mx-2" href="{% url 'Case' %}">Blog</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-light mx-2" href="#footer">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
