{% load static %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<div class="expertise" id="expertise">
    <div class="container">
        <p data-aos="zoom-in" class="mx-auto mt-5 heading_text text-center"><span>Our</span> Expertise</p>
        {% for expert in expertise %}
            <div class="row d-flex flex-row mt-4">
                <div class="col-md-6 order-md-{{ forloop.counter|add:1|even_odd }}">
                    <div class="expertise_image text-center" data-aos="fade-in" data-aos-duration="500" data-aos-offset="200" data-aos-easing="ease-in-cubic" >
                        <img src="{{ expert.list_image.url }}" alt="Expertise Image">
                    </div>
                </div>
                <div class="col-md-6 order-md-{{ forloop.counter|even_odd }} d-flex align-items-center">
                    <div class="expertise_text d-flex flex-column align-items-center">
                        <span class="title mb-2">{{expert.title}}</span>
                        <hr>
                        <span class="content my-2">{{expert.description}}</span>
                        <hr>
                        <div class="btn-wrapper d-flex justify-content-center mt-3">
                            <a href="{% url 'single_blog' expert.id %}" class="btn btn-outline-primary">Know More</a>
                        </div>
                    </div>
                </div>
                
            </div>
        {% endfor %}
    </div>
</div>
<!-- Initialize Swiper -->
<script>
var swiper = new Swiper('.expertise_swiper', {
    slidesPerView: 1.5,
    spaceBetween: 30,
    keyboard: {
        enabled: true,
    },
    pagination: {
        el: '.swiper-pagination',
        clickable: true,
    },
    breakpoints: {
        750: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        960: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
        1140: {
          slidesPerView: 4,
          spaceBetween: 20,
        },

      }
});
</script>