{% load static %}
<div class="container-fluid mt-5" id="team">
    <p class="heading_text text-center"><span>Meet</span> Our Team</p>
    <div class="row my-5">
        {% for team in team_info %}
            <div class="col-xl-3 col-md-6 d-flex justify-content-center mt-5">
                <div class="card border-0 shadow-sm" style="width: 20rem;">
                    <div class="Information_area team-image d-flex align-items-end" style="background-image: url({{ team.image.url }});">
                        <div class="team-image-text">
                            <span class="firstname">{{team.firstname}}</span> <br>
                            <span class="lastname">{{team.lastname}}</span>
                        </div>
                    </div>
                    <!-- <img class="card-img-top team-image" src="{% static 'images/chirag.jpg' %}" alt="Card image cap"> -->
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5 class="card-title">{{team.position}}</h5>
                            </div>
                            <div>
                                <a href="{{team.linkdein_link}}" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                        <p class="card-text">{{ team.content | safe }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
