@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");
.header-area {
  line-height: 1.3;
}

.header-area .header-top_area {
  padding: 12px;
  background: #FFF;
}

.header-area .header-top_area .social_media_links a {
  font-size: 15px;
  color: #C7C7C7;
  margin-right: 12px;
}

.header-area .header-top_area .social_media_links a:hover {
  color: #5DB2FF;
}

.header-area .header-top_area .header_left p {
  color: #919191;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 0;
}

.mail_number_a {
  font-size: 13px !important;
  color: #919191 !important;
  margin-right: 50px !important;
  text-decoration: none !important;
}

.mail_number {
  color: #5DB2FF;
  margin-right: 7px;
}

.header-area .header-top_area .header_right.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slide-background {
  background-color: transparent !important;
  color: #fff;
  font-weight: bold;
}

.first {
  min-height: 400px;
  background-size: cover;
}

.first nav {
  padding: 0 2rem;
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
}

.first nav .navbar-brand img {
  height: 60px !important;
}

.navbar {
  border-radius: 0;
}

.affix {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* fixed to top styles */
.affix.navbar {
  background-color: #fff;
}

.affix.navbar .nav-item > a,
.affix.navbar .navbar-brand {
  color: #252323 !important;
}

.nav-link:after {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background: none repeat scroll 0 0 #5DB2FF;
  content: "";
  display: block;
  height: 2px;
  width: 0;
}

.nav-link:hover:after {
  width: 100%;
  padding-right: 35px;
}

.tagline .tag_problem {
  color: black;
  font-size: 3vw;
  font-weight: bold;
  text-align: start;
  line-height: 1;
}

.tagline .tag_solution {
  font-size: 1.5vw;
  font-weight: 100;
  text-align: start;
  color: black;
}

.expertise {
  background-color: #ffffff;
  height: auto;
}

.expertise .expertise_image img {
  height: 250px;
}

.expertise .expertise_text .title {
  display: block;
  color: #5DB2FF;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.expertise .expertise_text hr {
  background-color: #5DB2FF;
  width: 15%;
  height: 3px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.expertise .expertise_text .content {
  display: block;
  color: #3F3D56;
  text-align: center;
  font-weight: bold;
}

.expertise .expertise_text .btn-wrapper a {
  color: #5DB2FF !important;
  border-color: #5DB2FF !important;
}

.expertise .expertise_text .btn-wrapper a:hover {
  color: #ffffff !important;
  border-color: #5DB2FF !important;
  background-color: #5DB2FF !important;
}

.flip-card {
  background-color: transparent;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.flip-card-1 {
  height: 25rem;
}

.flip-card-1 .flip-card-front {
  background-color: #21146C;
}

.flip-card-2 {
  height: 12rem;
}

.flip-card-2 .flip-card-front {
  background-color: #1A6221;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card.hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}

.flip-card-front {
  color: white;
}

.flip-card-back {
  color: white;
  background-color: #eee;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.container_industry {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container_industry .box {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 40px;
  background: #232323;
  border-radius: 20px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container_industry .box::before {
  content: 'NIKE';
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 5em;
  font-weight: 900;
  color: #ffffff;
  font-style: italic;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container_industry .box::after {
  content: 'Shoe';
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 5em;
  font-weight: 900;
  color: #ffffff;
  font-style: italic;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container_industry .box:hover::before, .container_industry .box:hover::after {
  opacity: 0.04;
}

.container_industry .box .name {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #ffffff;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 75px);
          transform: translate3d(0, 0, 75px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.container_industry .box:hover .name {
  top: 40px;
  opacity: 1;
}

.container_industry .box .buy {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(-50%, 0, 75px);
          transform: translate3d(-50%, 0, 75px);
  color: #ffffff;
  background: #AEF028;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.container_industry .box:hover .buy {
  bottom: 30px;
  opacity: 1;
}

.container_industry .box .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #ffffff;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(-50%, -50%, 50px);
          transform: translate3d(-50%, -50%, 50px);
  z-index: 10;
  opacity: 1;
  background: #AEF028;
}

.container_industry .box .product {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 300px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 11;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(-50%, -50%, 50px) rotate(-345deg);
          transform: translate3d(-50%, -50%, 50px) rotate(-345deg);
  transition: 0.5s;
}

.container_textile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container_textile .name {
  position: absolute;
  top: 5%;
  left: 0;
  text-align: right;
  padding-right: 3% !important;
  color: #000;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 5px);
          transform: translate3d(0, 0, 5px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  z-index: 10;
}

.container_textile .buy {
  position: absolute;
  bottom: 2%;
  left: 68%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 20px);
          transform: translate3d(0, 0, 20px);
  color: #ffffff;
  border: 1px solid black;
  background: #135432;
  font-size: 10px;
  padding: 10px 10px;
  border-radius: 30px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.5;
  z-index: 10;
}

.container_textile:hover .buy {
  -webkit-transform: translate3d(0, 0, 50px);
          transform: translate3d(0, 0, 50px);
  opacity: 1;
}

.container_textile .box2 {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 40px;
  background: url("../images/textil.png");
  background-size: cover;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container_textile .box2 .cloth {
  position: absolute;
  top: 50%;
  left: 63%;
  max-height: 300px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 11;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(-50%, -50%, 50px);
          transform: translate3d(-50%, -50%, 50px);
  transition: 0.5s;
}

.container_textile .box2 .button_1, .container_textile .box2 .button_2 {
  position: absolute;
  max-height: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 11;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(-50%, -50%, 50px);
          transform: translate3d(-50%, -50%, 50px);
  transition: 0.5s;
}

.container_textile .box2 .button_1 {
  left: 87%;
  top: 30%;
}

.container_textile .box2 .button_2 {
  left: 70%;
  top: 75%;
}

#team .card-title {
  color: #5DB2FF;
  font-weight: bold;
  font-style: italic;
}

#team i {
  font-size: 15px;
  color: #C7C7C7;
}

#team i:hover {
  color: #5DB2FF;
}

.team-image {
  position: relative;
  z-index: 0;
  height: 50%;
  color: #ffffff;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.team-image .team-image-text {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.team-image .team-image-text .firstname {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}

.team-image .team-image-text .lastname {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.team-image::before {
  position: absolute;
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4%, rgba(148, 146, 146, 0.496)), color-stop(17.92%, rgba(106, 103, 103, 0.347)), color-stop(53.58%, rgba(57, 55, 55, 0.42)), color-stop(104%, rgba(0, 0, 0, 0.77)));
  background: linear-gradient(180deg, rgba(148, 146, 146, 0.496) 4%, rgba(106, 103, 103, 0.347) 17.92%, rgba(57, 55, 55, 0.42) 53.58%, rgba(0, 0, 0, 0.77) 104%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.case_study_area {
  padding-top: 100px;
}

@media (max-width: 767px) {
  .case_study_area {
    padding-top: 50px;
  }
}

.case_study_area.case_page {
  padding-bottom: 100px;
}

@media (max-width: 767px) {
  .case_study_area.case_page {
    padding-bottom: 50px;
  }
}

.case_study_area.case_page .single_case {
  margin-bottom: 40px;
}

.case_study_area .border_bottom {
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 50px;
  padding-bottom: 60px;
}

.case_study_area .single_case {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 60px;
  border-radius: 10px;
  overflow: hidden;
}

.case_study_area .single_case .case_thumb {
  overflow: hidden;
}

.case_study_area .single_case .case_thumb img {
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.case_study_area .single_case .case_heading {
  padding: 25px 29px;
  background-color: #ffffff;
}

.case_study_area .single_case .case_heading span {
  color: #919191;
  font-size: 13px;
  font-weight: 400;
}

.case_study_area .single_case .case_heading h3 a {
  font-weight: 500;
  color: #001D38;
  font-size: 18px;
}

.case_study_area .single_case .case_heading h3 a:hover {
  color: #5DB2FF;
}

.case_study_area .single_case:hover .case_thumb {
  overflow: hidden;
}

.case_study_area .single_case:hover .case_thumb img {
  width: 100%;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.case_thumb img {
  height: 220px;
}

.case_study_area .owl-carousel .owl-nav div {
  border: 1px solid #E3E3E3;
  color: #DDDBDB;
  left: -70px;
}

.case_study_area .owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: -70px;
}

.portfolio-menu {
  margin-bottom: 40px;
}

.portfolio-menu button {
  font-size: 15px;
  font-weight: 400;
  color: #1F1F1F;
  border: none;
  background: transparent;
  border: 1px solid transparent;
  padding: 5px 17px;
  margin: 0 2px;
  border-radius: 30px;
  cursor: pointer;
}

.portfolio-menu button.active {
  border: 1px solid #5DB2FF;
  color: #5DB2FF;
}

.portfolio-menu button:focus {
  outline: none;
}

.about_us > p {
  color: #504a69;
  opacity: 0.9;
  text-align: center;
  line-height: 2;
}

.about_us > h3 {
  font-weight: bolder;
}

.vision_mission {
  background: linear-gradient(270.08deg, #27233E 0.09%, #050E66 99.95%);
  width: 100%;
  height: 60vh;
  position: relative;
  margin-bottom: 20%;
  z-index: -1;
}

.vision_mission:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: inherit;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
}

.vision_mission .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.vision_mission .row .vision {
  margin-top: 75%;
  margin-left: 20%;
  z-index: 101;
  width: 70%;
}

.vision_mission .row .vision h3 {
  color: White;
  text-align: center;
  font-weight: bold;
}

.vision_mission .row .vision p {
  color: #d6e1f5;
  opacity: 0.8;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  line-height: 2;
}

.vision_mission .row .mission {
  margin-top: 10%;
  margin-right: 10%;
  z-index: 101;
  width: 70%;
}

.vision_mission .row .mission h3 {
  color: White;
  text-align: center;
  font-weight: bold;
}

.vision_mission .row .mission p {
  color: #d6e1f5;
  opacity: 0.8;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  line-height: 2;
}

.vision_mission .row .svg-vector {
  position: relative;
  left: -15%;
  z-index: 100;
}

.vision_mission .row .svg-vector img {
  height: 70vh;
  margin-top: 10%;
  height: auto;
  width: 150%;
}

@media (max-width: 1000px) {
  .vision_mission .row .vision {
    width: 100%;
  }
  .vision_mission .row .vision h3 {
    font-size: 25px;
  }
  .vision_mission .row .vision p {
    line-height: 1.5;
    font-size: 13px;
  }
  .vision_mission .row .mission {
    width: 100%;
  }
  .vision_mission .row .mission h3 {
    font-size: 25px;
  }
  .vision_mission .row .mission p {
    line-height: 1.5;
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .vision_mission .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .vision_mission .row .vision {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
  }
  .vision_mission .row .mission {
    margin-top: 0;
    margin-right: 0;
    z-index: 101;
    width: 100%;
  }
  .vision_mission .row .svg-vector {
    position: relative;
    left: 0;
    text-align: center;
  }
  .vision_mission .row .svg-vector img {
    height: 70vh;
    max-width: 50%;
    margin-top: 0;
    height: auto;
    width: 150%;
  }
}

.media-image {
  width: 300px;
  height: 300px;
}

.case_details_area {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 767px) {
  .case_details_area {
    padding-top: 100px;
    margin-top: 0px;
  }
}

.details_main_wrap > p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4D4D4D;
  margin-bottom: 13px;
}

.case_details_area .border_bottom {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 10px;
}

.case_details_area .details_title span {
  font-size: 15px;
  color: #919191;
  font-weight: 400;
}

.case_details_area .details_title h3 {
  font-size: 46px;
  font-weight: 300;
  color: #001D38;
}

@media (max-width: 767px) {
  .case_details_area .details_title h3 {
    font-size: 28px;
  }
}

.case_details_area .details_main_wrap .details_info {
  color: #001D38;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 35px;
}

.case_details_area .details_main_wrap .single_details {
  margin-bottom: 30px;
}

.case_details_area .details_main_wrap .single_details span {
  font-weight: 500;
  font-size: 22px;
  color: #001D38;
}

.case_details_area .details_main_wrap .single_details p {
  color: #727272;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0;
}

.case_details_area .details_main_wrap .single_details ul li {
  list-style-type: disc;
  margin-right: 4px;
}

.case_details_area .details_main_wrap .single_details ol li {
  list-style-type: decimal;
}

.case_details_area .details_main_wrap .single_details ul li a {
  background: #3B5997;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  color: #fff;
  padding: 15px 28px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .case_details_area .details_main_wrap .single_details ul li a {
    display: block;
  }
}

.case_details_area .details_main_wrap .single_details ul li:nth-child(2) a {
  background: #1DA1F2 !important;
}

.case_details_area .details_main_wrap .single_details ul li:nth-child(3) a {
  background: #B21D23 !important;
}

.footer .footer_top {
  padding-top: 30px;
  background: #fff;
}

@media (max-width: 767px) {
  .footer .footer_top {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

.footer .footer_top .footer_widget .footer_title {
  font-size: 18px;
  font-weight: 500;
  color: #001D38;
  text-transform: capitalize;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .footer .footer_top .footer_widget .footer_title {
    margin-bottom: 20px;
  }
}

.footer .footer_top .footer_widget .footer_logo {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.footer_logo img {
  height: 100px;
  width: 120px;
}

@media (max-width: 767px) {
  .footer .footer_top .footer_widget .footer_logo {
    margin-bottom: 20px;
  }
}

.footer .footer_top .footer_widget p {
  color: #919191;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
}

.footer .footer_top .footer_widget p a {
  color: #919191;
}

.footer .footer_top .footer_widget p a:hover {
  color: #5DB2FF;
}

.footer .footer_top .footer_widget p.footer_text {
  font-size: 16px;
  color: #B2B2B2;
  margin-bottom: 23px;
  font-weight: 400;
  line-height: 28px;
}

.footer .footer_top .footer_widget p.footer_text a.domain {
  color: #B2B2B2;
  font-weight: 400;
}

.footer .footer_top .footer_widget p.footer_text a.domain:hover {
  color: #5DB2FF;
  border-bottom: 1px solid #5DB2FF;
}

.footer .footer_top .footer_widget p.footer_text.doanar a {
  font-weight: 500;
  color: #B2B2B2;
}

.footer .footer_top .footer_widget p.footer_text.doanar a:hover {
  color: #5DB2FF;
  border-bottom: 1px solid #5DB2FF;
}

.footer .footer_top .footer_widget p.footer_text.doanar a.first {
  margin-bottom: 10px;
}

.footer .footer_top .footer_widget ul li {
  color: #919191;
  font-size: 13px;
  line-height: 42px;
  list-style-type: none;
}

.footer .footer_top .footer_widget ul li a {
  color: #919191;
  font-weight: 400;
}

.footer .footer_top .footer_widget ul li a:hover {
  color: #5DB2FF;
}

.footer .footer_top .footer_widget .newsletter_form {
  position: relative;
  margin-bottom: 20px;
}

.footer .footer_top .footer_widget .newsletter_form input {
  width: 100%;
  height: 50px;
  background: #fff;
  padding-left: 20px;
  font-size: 15px;
  color: #000;
  border: none;
  border: 1px solid #E8E8E8;
  border-radius: 30px;
}

.footer .footer_top .footer_widget .newsletter_form input::-webkit-input-placeholder {
  font-size: 15px;
  color: #919191;
}

.footer .footer_top .footer_widget .newsletter_form input:-ms-input-placeholder {
  font-size: 15px;
  color: #919191;
}

.footer .footer_top .footer_widget .newsletter_form input::-ms-input-placeholder {
  font-size: 15px;
  color: #919191;
}

.footer .footer_top .footer_widget .newsletter_form input::placeholder {
  font-size: 15px;
  color: #919191;
}

.footer .footer_top .footer_widget .newsletter_form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  border: none;
  font-size: 14px;
  color: #fff;
  background: #5DB2FF;
  padding: 10px;
  padding: 0 22px;
  cursor: pointer;
  border-radius: 30px;
  top: 5px;
  right: 5px;
  font-size: 13px;
  font-weight: 500;
}

.footer .footer_top .footer_widget .newsletter_text {
  font-size: 13px;
  color: #919191;
  line-height: 26px;
}

.footer .copy-right_text {
  padding-bottom: 30px;
  background: #fff;
}

.footer .copy-right_text .footer_border {
  border-top: 1px solid #E8E8E8;
  padding-bottom: 30px;
}

.footer .copy-right_text .copy_right {
  font-size: 15px;
  color: #919191;
  margin-bottom: 0;
  font-weight: 500;
}

/* .Copyright {
  font-size: 15px;
  color: blue;
} */
@media (max-width: 767px) {
  .footer .copy-right_text .copy_right {
    font-size: 13px;
  }
}

.footer .copy-right_text .copy_right a {
  color: #5DB2FF;
}

.footer .socail_links {
  margin-top: 47px;
}

@media (max-width: 767px) {
  .footer .socail_links {
    margin-top: 30px;
  }
}

.footer .socail_links ul li {
  display: inline-block;
}

.footer .socail_links ul li a {
  font-size: 15px;
  color: #C3B2F0;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  background: transparent;
  border-radius: 50%;
  line-height: 40px !important;
  margin-right: 7px;
  color: #FFFFFF;
  line-height: 40px !important;
  border: 1px solid #E8E8E8;
  color: #E8E8E8;
}

.footer .socail_links ul li a:hover {
  color: #fff !important;
  background: #5DB2FF;
  border-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
}

.Information_area {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 162px 0;
}

@media (max-width: 767px) {
  .Information_area {
    padding: 100px 0;
  }
}

.Information_area .info_text h3 {
  font-size: 46px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .Information_area .info_text h3 {
    font-size: 30px;
  }
}

.Information_area .info_text p {
  font-size: 15px;
  font-weight: 400;
  color: #E8E8E8;
  margin: 25px 0;
}

.Information_area .info_text a.boxed-btn3 {
  padding: 14px 40px;
}

.overlay {
  position: relative;
  z-index: 0;
}

.overlay::before {
  position: absolute;
  content: "";
  background-color: #001D38;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .7;
}

.bradcam_area {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.bradcam_area::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #001D38;
  opacity: .4;
  content: '';
}

.banner-text {
  color: #ffffff;
  font-size: 60px;
  z-index: 5;
}

.heading_text {
  font-size: 40px;
  font-weight: bold;
}

.heading_text span {
  color: #5DB2FF;
  border-top: 4px solid #5DB2FF;
}
/*# sourceMappingURL=style.css.map */