// .aboutus_image {
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);;
// }

.about_us > p {
    color: #504a69;
    opacity: 0.9;
    text-align: center;
    line-height: 2;
}
.about_us > h3 {
    font-weight: bolder;
}
.vision_mission{
        // height: 60vh;
        // width: 100%;
    background:linear-gradient(270.08deg, #27233E 0.09%, #050E66 99.95%);
    // border-bottom: 100px;
    width: 100%;
    height: 60vh;
    position: relative;
    margin-bottom: 20%;
    z-index: -1;

    &:after{
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: inherit;
        transform-origin: top right;
        transform: skewY(-10deg);
    }
    & .row{
        margin-left: 0 !important;
        margin-right: 0 !important;

        & .vision{
            margin-top: 75%;
            margin-left: 20%;
            z-index: 101;
            width: 70%;

            & h3 {
                color: White;
                text-align: center;
                font-weight: bold;
            }
            & p{
                color: #d6e1f5;
                opacity: 0.8;
                text-shadow: 0 4px 4px rgba(0,0,0,.25);
                text-align: center;
                line-height: 2;
            }
        }
        & .mission{
            margin-top: 10%;
            margin-right: 10%;
            z-index: 101;
            width: 70%;

            & h3 {
                color: White;
                text-align: center;
                font-weight: bold;
            }
            & p{
                color: #d6e1f5;
                opacity: 0.8;
                text-shadow: 0 4px 4px rgba(0,0,0,.25);
                text-align: center;
                line-height: 2;
            }
        }
        & .svg-vector{
            position: relative;
            left: -15%;
            z-index: 100;

            & img{
                height: 70vh;
                // max-width:100%;
                margin-top: 10%;
                height:auto;
                width: 150%;
            }
        }
    }
}

@media (max-width: 1000px) {
    .vision_mission{
      & .row{
          & .vision{
            width: 100%;

            & h3 {
                font-size: 25px;
            }
            & p{
                line-height: 1.5;
                font-size: 13px;
            }
        }
        & .mission{
            width:100%;
            & h3 {
                font-size: 25px;
            }
            & p{
                line-height: 1.5;
                font-size: 13px;
            }
        }
      }
    }
}

@media (max-width: 767px) {
  .vision_mission{
      & .row{
        margin-left: 0 !important;
        margin-right: 0 !important;

        & .vision{
            margin-top: 0;
            margin-left: 0;
            width: 100%;
        }
        & .mission{
            margin-top: 0;
            margin-right: 0;
            z-index: 101;
            width:100%;
        }
        & .svg-vector{
            position: relative;
            left: 0;
            text-align: center;

            & img{
                height: 70vh;
                max-width:50%;
                margin-top: 0;
                height:auto;
                width: 150%;
            }
        }
    }
  }
}

