.case_study_area {
  padding-top: 100px;
}

@media (max-width: 767px) {
  .case_study_area {
    padding-top: 50px;
  }
}

.case_study_area.case_page {
  padding-bottom: 100px;
}

@media (max-width: 767px) {
  .case_study_area.case_page {
    padding-bottom: 50px;
  }
}

.case_study_area.case_page .single_case {
  margin-bottom: 40px;
}

.case_study_area .border_bottom {
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 50px;
  padding-bottom: 60px;
}

.case_study_area .single_case {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 60px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.case_study_area .single_case .case_thumb {
  overflow: hidden;
}

.case_study_area .single_case .case_thumb img {
  width: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


.case_study_area .single_case .case_heading {
  padding: 25px 29px;
  background-color: #ffffff;
}

.case_study_area .single_case .case_heading span {
  color: #919191;
  font-size: 13px;
  font-weight: 400;
}

.case_study_area .single_case .case_heading h3 a {
  font-weight: 500;
  color: #001D38;
  font-size: 18px;
}

.case_study_area .single_case .case_heading h3 a:hover {
  color: #5DB2FF;
}

.case_study_area .single_case:hover .case_thumb {
  overflow: hidden;
}

.case_study_area .single_case:hover .case_thumb img {
  width: 100%;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.case_thumb img{
  height: 220px;
}

.case_study_area .owl-carousel .owl-nav div {
  border: 1px solid #E3E3E3;
  color: #DDDBDB;
  left: -70px;
}

.case_study_area .owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: -70px;
}

.portfolio-menu {
  margin-bottom: 40px;
}

.portfolio-menu button {
  font-size: 15px;
  font-weight: 400;
  color: #1F1F1F;
  border: none;
  background: transparent;
  border: 1px solid transparent;
  padding: 5px 17px;
  margin: 0 2px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  cursor: pointer;
}

.portfolio-menu button.active {
  border: 1px solid #5DB2FF;
  color: #5DB2FF;
}

.portfolio-menu button:focus {
  outline: none;
}