.media-image{
    width:300px ;
    height:300px ;
}
.case_details_area{
    font-family: "Poppins", sans-serif;
}

@media (max-width: 767px) {
  .case_details_area {
    padding-top: 100px;
    margin-top: 0px;
  }
}

.details_main_wrap > p{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #4D4D4D;
    margin-bottom: 13px;
}

.case_details_area .border_bottom {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 10px;
}

.case_details_area .details_title span {
  font-size: 15px;
  color: #919191;
  font-weight: 400;
}

.case_details_area .details_title h3 {
  font-size: 46px;
  font-weight: 300;
  color: #001D38;
}

@media (max-width: 767px) {
  .case_details_area .details_title h3 {
    font-size: 28px;
  }
}

.case_details_area .details_main_wrap .details_info {
  color: #001D38;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 35px;
}

.case_details_area .details_main_wrap .single_details {
  margin-bottom: 30px;
}

.case_details_area .details_main_wrap .single_details span {
  font-weight: 500;
  font-size: 22px;
  color: #001D38;
}

.case_details_area .details_main_wrap .single_details p {
  color: #727272;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0;
}

.case_details_area .details_main_wrap .single_details ul li {
  list-style-type: disc;
  margin-right: 4px;
}

.case_details_area .details_main_wrap .single_details ol li {
  list-style-type: decimal;
}


.case_details_area .details_main_wrap .single_details ul li a {
  background: #3B5997;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  color: #fff;
  padding: 15px 28px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .case_details_area .details_main_wrap .single_details ul li a {
    display: block;
  }
}

.case_details_area .details_main_wrap .single_details ul li:nth-child(2) a {
  background: #1DA1F2 !important;
}

.case_details_area .details_main_wrap .single_details ul li:nth-child(3) a {
  background: #B21D23 !important;
}
