.header-area {
    line-height: 1.3;
}
.header-area .header-top_area {
  padding: 12px;
  background: #FFF;

  & .social_media_links a {
    font-size: 15px;
    color: #C7C7C7;
    margin-right: 12px;
        &:hover{
            color: $light_blue_color;
        }
    }

    & .header_left p {
        color: #919191;
        font-weight: 400;
        font-size: 13px;
        margin-bottom: 0;
    }
}
.mail_number_a{
    font-size: 13px !important;
    color: #919191 !important;
    margin-right: 50px !important;
    text-decoration: none !important;
}
.mail_number{
    color: $light_blue_color;
    margin-right: 7px;
}
.header-area .header-top_area .header_right.d-flex {
  display: flex;
  justify-content: flex-end;
}

.slide-background{
  background-color: transparent !important;
  color: #fff;
  font-weight: bold;
}
.first {
  min-height:400px;
  background-size:cover;

  & nav {
    padding: 0 2rem;
    transition: all ease-in 0.1s;
    & .navbar-brand img{
            height: 60px !important;
        }
    }
}
.navbar {
  border-radius: 0;
}

.affix {
  // transition: height ease-in 0.5s !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* fixed to top styles */
.affix.navbar {
  background-color: #fff;
}
.affix.navbar .nav-item>a, 
.affix.navbar .navbar-brand {
    color: rgb(37, 35, 35) !important;
}


.nav-link:after {
    transition: all ease-in-out 0.3s;
    background: none repeat scroll 0 0 $light_blue_color;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}
.nav-link:hover:after {
    width: 100%;
    padding-right: 35px;
}

.tagline{
  & .tag_problem {
    color: black;
    font-size: 3vw;
    font-weight: bold;
    text-align: start;
    line-height: 1;
  }

  & .tag_solution {
    font-size: 1.5vw;
    font-weight: 100;
    text-align: start;
    color: black;
  }
}