.flip-card {
  background-color: transparent;
  perspective: 1000px;
}
.flip-card-1{
  height: 25rem;
  & .flip-card-front{
    background-color: #21146C;
  }
}
.flip-card-2{
  height: 12rem;
  & .flip-card-front{
    background-color: #1A6221;
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card.hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.flip-card-front {
  color: rgb(255, 255, 255);
}

.flip-card-back {
  color: white;
  background-color: #eee;
  transform: rotateY(180deg);
}

.container_industry{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // width: 1200px;
  transform-style: preserve-3d;

  & .box {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;

    &::before{
      content: 'NIKE';
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 5em;
      font-weight: 900;
      color: #ffffff;
      font-style: italic;
      opacity: 0;
      transition: 0.5s;
    }
    &::after{
      content: 'Shoe';
      position: absolute;
      bottom: 20px;
      left: 20px;
      font-size: 5em;
      font-weight: 900;
      color: #ffffff;
      font-style: italic;
      opacity: 0;
      transition: 0.5s;
    }
    &:hover::before, &:hover::after{
      opacity: 0.04;
    }
    & .name {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      color: #ffffff;
      width: 100%;
      transform-style: preserve-3d;
      transform: translate3d(0,0,75px);
      transition: 0.5s;
      opacity: 0;
      z-index: 10;
      
    }
    &:hover .name{
        top: 40px;
        opacity: 1;
    }

    & .buy {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform-style: preserve-3d;
      transform: translate3d(-50%, 0, 75px);
      color: #ffffff;
      background: #AEF028;
      padding: 10px 25px;
      border-radius: 30px;
      text-decoration: none;
      transition: 0.5s;
      opacity: 0;
      z-index: 10;
    }
    &:hover .buy{
        bottom : 30px;
        opacity: 1;
    }

    & .circle{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      transition: 0.5s;
      background: #ffffff;
      transform-style: preserve-3d;
      transform: translate3d(-50%, -50%, 50px);
      z-index: 10;
      opacity: 1;
      background: #AEF028;
    }

    & .product{
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 300px;
      transition: 0.5s;
      // transform: rotateY(180deg);
      z-index: 11;
      transform-style: preserve-3d;
      transform: translate3d(-50%, -50%, 50px) rotate(-345deg);
      transition: 0.5s;
    }
  }
}


.container_textile { 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // width: 1200px;
  transform-style: preserve-3d;

  & .name {
      position: absolute;
      top: 5%;
      left: 0;
      text-align: right;
      padding-right: 3% !important;
      color: #000;
      width: 100%;
      transform-style: preserve-3d;
      transform: translate3d(0,0,5px);
      transition: 0.5s;
      opacity: 1;
      z-index: 10; 
    }

  & .buy {
        position: absolute;
        bottom: 2%;
        left: 68%;
        transform-style: preserve-3d;
        transform: translate3d(0, 0, 20px);
        color: #ffffff;
        border: 1px solid black;
        background: #135432;
        font-size: 10px;
        padding: 10px 10px;
        border-radius: 30px;
        text-decoration: none;
        transition: 0.5s;
        opacity: 0.5;
        z-index: 10;
      }
      &:hover .buy{
        transform: translate3d(0, 0, 50px);
          opacity: 1;
      }


  & .box2 {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: url('../images/textil.png');
    background-size: cover;
    // border-radius: 20px;
    transform-style: preserve-3d;

    & .cloth{
      position: absolute;
      top: 50%;
      left: 63%;
      // max-width: 300px;
      max-height: 300px;
      transition: 0.5s;
      // transform: rotateY(180deg);
      z-index: 11;
      transform-style: preserve-3d;
      transform: translate3d(-50%, -50%, 50px);
      transition: 0.5s;
    }
    & .button_1, & .button_2{
      position: absolute;

      // max-width: 300px;
      max-height: 20px;
      transition: 0.5s;
      // transform: rotateY(180deg);
      z-index: 11;
      transform-style: preserve-3d;
      transform: translate3d(-50%, -50%, 50px);
      transition: 0.5s;
    }
    & .button_1{
      left: 87%;
      top: 30%;
    }
    & .button_2{
      left: 70%;
      top: 75%;
    }
  }
}

