// .expertise_swiper {
//     // width: 100%;
//     height: 500px !important;
// }

// .swiper-slide {
//     text-align: center;
//     font-size: 18px;
//     background: #eee;

//     /* Center slide text vertically */
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .card_data{
//     height: 400px;
//     width: 300px;
//     // background-color: #2c2c2c;
//     background-color: #5DB2FF;
//     padding: 30px 25px;
//     line-height: 1.5;
//     border-radius: 10px;
    
//     & .card-content h3{
//         color: #fff;
//     }
//     & .card-content p{
//         color: #888;
//     }
//     &:hover {
//         transition: 0.3s all;
//         box-shadow: 0 5px 10px 0px #333
//     }
// }

// New Expertise
.expertise{
    background-color: #ffffff;
    height: auto;

    & .expertise_image img {
        height: 250px;
    }

    & .expertise_text {

        & .title {
            display: block;
            color: $light_blue_color;
            font-weight: bold;
            font-size: 25px;
            text-align: center;
        }
        
        & hr{
            background-color: $light_blue_color;
            width:15%;
            height: 3px;
            margin:0 auto;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25)
        }
        
        & .content {
            display: block;
            color: #3F3D56;
            text-align: center;
            font-weight: bold;        
        }

        & .btn-wrapper a{
            color: $light_blue_color !important;
            border-color: $light_blue_color !important;
        }
        & .btn-wrapper a:hover{
            color: #ffffff !important;
            border-color: $light_blue_color !important;
            background-color: $light_blue_color !important;
        }
    }
}
