#team {
    & .card-title{
        color: $light_blue_color;
        font-weight: bold;
        font-style: italic;
    }

    & i {
        font-size: 15px;
        color: #C7C7C7;
            &:hover{
                color: $light_blue_color;
            }
    }
}

.team-image {
  position: relative;
  z-index: 0;
  height: 50%;
  color: #ffffff;
  filter: grayscale(100%);

  & .team-image-text{
        position: absolute;
        bottom: 5%;
        left: 5%;

        & .firstname {
            font-size: 40px;
            font-weight: bold;
            font-style: italic;
        }

        & .lastname{
            font-size: 20px;
            font-weight: bold;
            font-style: italic;
        }
    }
}

.team-image::before {
  position: absolute;
  content: "";
  background: linear-gradient(180deg, rgba(148, 146, 146, 0.496) 4%, rgba(106, 103, 103, 0.347) 17.92%, rgba(57, 55, 55, 0.42) 53.58%, rgba(0, 0, 0, 0.77) 104%);;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
//   opacity: .7;
}
