
@import './variables';
@import './header';
@import './our_expertise';
@import './industry_serve';
@import './team';
@import './allblog';
@import './aboutus';
@import './case_study';
@import './footer';
@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  // background-color: #eee;
  // width: 100%;
}

.Information_area {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 162px 0;
}

@media (max-width: 767px) {
  .Information_area {
    padding: 100px 0;
  }
}

.Information_area .info_text h3 {
  font-size: 46px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .Information_area .info_text h3 {
    font-size: 30px;
  }
}

.Information_area .info_text p {
  font-size: 15px;
  font-weight: 400;
  color: #E8E8E8;
  margin: 25px 0;
}

.Information_area .info_text a.boxed-btn3 {
  padding: 14px 40px;
}
.overlay {
  position: relative;
  z-index: 0;
}


.overlay::before {
  position: absolute;
  content: "";
  background-color: #001D38;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .7;
}

.bradcam_area {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.bradcam_area::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #001D38;
  opacity: .4;
  content: '';
}

.banner-text {
  color: #ffffff;
  font-size: 60px;
  z-index: 5;
}

.heading_text {
    font-size: 40px;
    font-weight: bold;

    & span{
        color: $light_blue_color;
        border-top: 4px solid $light_blue_color;
    }
}

